 <script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<style type="text/css">
html,body{
	height:100%;
	width:100%;
	margin:0px auto;
	position:relative;
	background-color:#e9e9e9;
	font-family: 'Times New Roman', Georgia, Times, serif !important;
	font-size:12px;
}
.bannertitle {
	
	text-align: center;		
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
	color: #b22222;
}

span{
	font-size: 20px;
}

/*block*/
.content{
	width:960px;
	margin:0px auto;
	background-color:#FFF;
	padding: 10px;
  text-align: center;
}

.divframe{
  position: relative;
}

.graph{
	width:760px;	
  margin:0px auto;
	background-color:#FFF;
	margin-bottom: 40px;	
}
.table{
  margin-left: 170px;

}

h3{
  text-align: left;
	margin:0px auto;
	margin-bottom: 15px;
	border-bottom: 1px solid #CCC;
}

.leftframe{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  width: 120px;
}

.tablebtn{
  position: absolute;
  left:0px;
  top: 10px;
}

.aauaatool{
  float: left;
  margin-bottom: 15px;
}


select{
  float: left;
  width: 116px;
  margin-top: 10px;
  color: #333;
  background-color: #fff !important;
  border-color: #ccc !important;
}


.footer{
	margin:0px auto;
	cursor: pointer;
	text-align: center;
	margin-top: 100px;	
}
</style>

<!-- <canvas id="myChart" width="400" height="400"></canvas> -->
<div class='content'>

<div class='bannertitle'>Footkit Decision Support System<span>(Simplified)</span></div>
<div>
	<h3>Active user amount in per month</h3> 
  <div class='leftframe'>
  <%= link_to "Download CSV", activate_user_per_month_user_log_facts_path(format: "csv"),
  :class=>"btn btn-default" %>
  </div>

<div id="containerMAU"  width="780" height="300"></div>

</div>
<div>
	<h3>All active user's action amount</h3>
  <div class='leftframe'>
      
      <!-- <button type="button" class="aauaatool btn btn-default">Download CVS</button>  -->

  <%= link_to "Download CSV", action_by_month_user_log_facts_path(user_action:"Login",format: "csv"),  :class=>"aauaatool btn btn-default",id:"btnActionByMonth" %>
      <select id="selectUserAction" class="aauaatool btn ">
        <option>Login</option>
        <option>Post</option>
        <option>Tag</option>
        <option>Comment</option>
        <option>All</option>
      </select>
  </div>
<div id="containerAPM"  width="780" height="300"></div>

</div>
<div>
	<h3>All active user's Landing url and Landing platform</h3>
  <div  class='divframe'>
    <!--圖3-->
  	
    
    <button type="button" class="btn btn-default tablebtn">Download CVS</button>
<div id="containerRefer"  width="780" height="300"></div>

  </div>
</div>
<div>
	<h3>All active user's portfolio</h3>
  <div class='divframe'>

    <!--圖4-->
  	<!-- <div class='graph table' id='Aaup'></div> -->
    <button type="button" class="btn btn-default tablebtn">Download CVS</button>
 <div id="containerPortfolio"  width="780" height="300"></div>
  </div>
</div>



<div class='footer'>
	<h6>中文(台灣) · 隱私政策 · 使用條款 · Cookies ·</h6>
	<h6>Foodkit © 2014</h6>
	
</div>


</div>

  <%= javascript_include_tag 'pages/welcome_index', 'data-turbolinks-track' => true %>
